.services-section{
  &__cards{
    @apply grid md:grid-cols-2 xl:grid-cols-3 gap-6 lg:bg-[url("@/assets/images/bg/footer.jpg")] lg:dark:bg-[url("@/assets/images/bg/footer-black.jpg")];
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
  }
  
}
.services__card{
  @apply rounded-xl flex flex-col lg:px-8 lg:py-14 p-6 border bg-white bg-opacity-50 dark:bg-transparent backdrop-blur-xl;
  &-image{
    @apply mb-6 w-14 h-14;
    svg{
      @apply w-full h-full object-contain text-[#FF774C]
    }
  }
  &-title{
    @apply mb-3 text-3xl text-[#242F65] dark:text-amber-50;
    font-family: 'Fraunces', serif;
  }
  &-subtitle{
    @apply mb-7 text-xl	cursor-pointer;
  }
  &-list{
    @apply mt-auto;
    li {
      @apply flex items-start text-xl;
      &::before{
        content: "";
        @apply block w-3 h-3 rounded-full bg-[#FF774C] mr-3 mt-2 flex-shrink-0;
      }
    }
  }
}